---
layout: default
---

<div class="home">
  
  {{ content }}

  <h2>updates</h2>
  <table>
    {%- assign sorted_news = site.news | sort: 'date' | reverse -%}
    {%- for item in sorted_news limit:3 -%}
      <tr>
        <td class="date-column">
          {{ item.date | date: "%Y-%m-%d" }}
        </td>
        <td class="empty-column"></td>
        <td class="content-column">
          <a href="{{ item.url | relative_url }}">{{ item.title | escape }}</a>
        </td>
      </tr>
    {%- endfor -%}
  </table>
  <a href="{{'/news'| prepend: site.baseurl }}"> ... more</a>


  <h2>notes</h2>
  <table>
    {%- assign sorted_posts = site.posts | sort: 'date' | reverse -%}
    {%- for item in site.posts limit:3 -%}
      <tr>
        <td class="date-column">
          {{ item.date | date: "%Y-%m-%d" }}
        </td>
        <td class="empty-column"></td>
        <td class="content-column">
          <a href="{{ item.url | relative_url }}">{{ item.title | escape }}</a>
        </td>
      </tr>
    {%- endfor -%}
  </table>
  <a href="{{'/journal' | prepend: site.baseurl }}"> ... more</a>

</div>